/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mars 2014, 10:39:10
    Author     : val
*/



/*
    BOOTSTRAP
*/
body {
    background-color: #fff;
    color: #2b3e50;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    margin-bottom: 0;
    font-size: 15px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-toggle {
    margin-top: 13px;
}

h1 small {
    color: #c0c0c0;
}

.jumbotron {
    color: #fff;
    padding-top: 0;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-size: 48px;
    margin-bottom: 4px;
}
.jumbotron h3 {
    margin-top: 4px;
}

.jumbotron p {
    font-size: 16px;
}

.table-nonfluid {
   width: auto;
}

.page-header {
    border-bottom: 1px solid #bf5a16;
}

hr {
    border-top: 1px solid #bf5a16;
}

section.content {
    padding: 16px 4px 48px 4px;
}

.well {
    color: #fff;
}

label {
    font-size: 15px;
}

table, .table {
    font-size: 14px;
}

table a, .table a {
    color: #df691a;
}

table li, .table li {
    display: inline;
}

thead {
    border-bottom: 3px solid #ebebeb;
}

.button-form-group {
    margin-top: 0;
    margin-bottom: 0;
}

input[type="file"] {
    margin-left: 9px;
    width: 94%;
}

.form-group > div > .form-group input {
    margin-left: 9px;
    width: 94%;
}

/*
    PRODUITS
*/
.produits {
    
}

.produits .produit {
    min-height: 200px;
    padding: 10px;
    background-color: #4e5d6c;
    color: #fff;
    -webkit-transition: background-color 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out;
    transition: background-color 100ms ease-in-out;
}

.produits .produit a {
    color: #fff;
}

.produits .produit h3 a:hover {
    text-decoration: none;
    color: #DF691A;
}

.produits .produit:hover {
    background-color: #465c72;
}

.produits .produit-img {
    float: left;
    width: 200px; /*Width of left column*/
}

.produits .produit-img img {
    height: auto;
    width: 200px;
}

.produits .produit-infos {
    margin-left: 200px;
    padding: 0 20px;
}

.produit-infos .produit-nom h3 {
    margin: 4px 0;
}

.produit-infos hr {
    border-color: #fff;
    margin-top: 10px;
    margin-bottom: 16px;
}

.produit-infos .produit-desc {
    font-size: 16px;
}

.produit-infos .produit-poids {
    font-style: italic;
    margin-top: 8px;
}

.produit-infos .produit-qte {
    font-style: italic;
}

.produit-infos .produit-qte .label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.produit-infos .produit-achat {
    text-align: right;
    margin-top: 18px;
}

.produit-infos .produit-achat select {
    
}

.produit-infos .produit-prix {
    font-weight: 500;
    background-color: #fff;
    color: #4e5d6c;
    font-size: 1.5em;
    line-height: .8em;
}

/*
    PANIER
*/
table.panier-table .quantity {
    padding: .4em;
}

/*
    COMMANDE
*/
#recap-commande {
    margin-bottom: 60px;
}

#recap-commande h2 {
    font-weight: 500;
}

#recap-commande .label {
    font-weight: 500;
}

#recap-commande .adresse {
    margin-top: 40px;
    font-size: 19px;
}

a.btn {
    margin-right: 1em;
}


