{% extends '::base.html.twig' %}

{% block title %}
Création d'un Produit
{% endblock %}

{% block page_title %}
Création d'un Produit
{% endblock %}

{% block page_subtitle %}{% endblock %}

{% block body -%}

    <div class="row">
        <div class="well bs-component col-sm-6">
            {% form_theme form 'elinoixshopBundle:Form:bootstrap-form.html.twig' %}
            {{ form(form) }}
        </div>
    </div>


        <ul class="record_actions">
    <li>
        <a href="{{ path('produit') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
